<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="apple-touch-icon" href="img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="./../css/bootstrap.min.css">
    <link rel="stylesheet" href="./../css/templatemo.css">
    <link rel="stylesheet" href="./../css/style.css">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="./../css/fontawesome.min.css">
</head>
<body>

<style>
     .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    /* Estilo para hacer el menú desplegable más ancho */
    .dropdown-menu {
        width: 200px; /* Ajusta el valor según tus preferencias */
    }

    /* Estilo para quitar el subrayado de los elementos del menú desplegable */
    .dropdown-menu a {
        text-decoration: none;
    }

    /* Estilo para cambiar el color del texto en los elementos del menú desplegable */
    .dropdown-menu a {
        color: #000; /* Puedes cambiar el color según tus preferencias */
    }

    .btn-custom {
        background-color: #F8F9FA; /* Cambia este valor al color que desees */
        color: #030303; /* Cambia este valor al color que desees para el texto */
    }

    .custom-menu {
        background-color: #ffffff; /* Cambia este valor al color que desees para el menú desplegable */
    }
    /* Asegúrate de incluir este CSS en tu archivo de estilo o en el encabezado de tu HTML */
    #agregarDropdown:hover .dropdown-menu {
        display: block;
    }

    body {
        background-color: #f8f9fa;
        font-family: 'Georgia', serif;
    }

    .containerr {
        margin-top: 50px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
    }

    h2 {
        text-align: center;
        color: #007bff;
        font-size: 28px;
    }

    .btn-agregar {
        background-color: #28a745;
        color: #ffffff;
    }

    .btn-editar,
    .btn-eliminar {
        background-color: #28a745;
        color: #ffffff;
        border-radius: 20px;
        font-size: 25px;
    }

    .btn-eliminar {
        background-color: #dc3545;
        /* Cambiado a rojo */
    }

    /* Aumentar el tamaño de la letra en la tabla */
    table {
        font-size: 28px;
    }
</style>


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="../index.html">
            FERRE-FAMA
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    

                    <div class="dropdown">
                        <button class="btn btn-custom dropdown-toggle" type="button" id="familiasDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ver productos
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="familiasDropdown" id="familiasMenu">
                            <li class="dropdown-submenu">
                                <a class="trigger right-caret">Familia 1</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class="dropdown-submenu">
                                        <a class="trigger right-caret">Categoría 1.1</a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="#">Subcategoría 1.1.1</a></li>
                                            <li><a href="#">Subcategoría 1.1.2</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="trigger right-caret">Categoría 1.2</a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="#">Subcategoría 1.2.1</a></li>
                                            <li><a href="#">Subcategoría 1.2.2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="trigger right-caret">Familia 2</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li class="dropdown-submenu">
                                        <a class="trigger right-caret">Categoría 2.1</a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="#">Subcategoría 2.1.1</a></li>
                                            <li><a href="#">Subcategoría 2.1.2</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="trigger right-caret">Categoría 2.2</a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="#">Subcategoría 2.2.1</a></li>
                                            <li><a href="#">Subcategoría 2.2.2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>



                    <li class="nav-item">
                        <a class="nav-link" href="">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                    data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="Views/login.php">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
            </div>
        </div>
        <div class="dropdown" id="agregarDropdown">
            <button class="btn btn-custom" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seleccionar acción
            </button>
            <ul class="dropdown-menu custom-menu" aria-labelledby="agregarDropdown">
                <li><a class="dropdown-item" href="./../Views/familias.html">Agregar Familia</a></li>
                <li><a class="dropdown-item" href="./../Views/categoria.html">Agregar Categoría</a></li>
                <li><a class="dropdown-item" href="./../Views/subcategoria.html">Agregar Subcategoría</a></li>
            </ul>
        </div>

    
    </div>
</nav>
<!-- Close Header -->


<div class="container">
    <h2 class="mb-4">CRUD de Familias</h2>

    <!-- Botón para abrir el modal de agregar submarca -->
    <button type="button" class="btn btn-success text-white mt-4" data-bs-toggle="modal"
        data-bs-target="#modalFamilias">
        Agregar Familia
    </button>
    <!-- Agrega esto donde desees en tu HTML, por ejemplo, encima de tu tabla de familias -->
    <div class="mb-3">
        <label for="buscadorFamiliasInput" class="form-label">Buscar Familias:</label>
        <input type="text" class="form-control" id="buscadorFamiliasInput" oninput="filtrarTablaFamilias()" placeholder="Escribe para buscar familias">
    </div>
    <!-- Tabla para mostrar las submarcas -->
    <table id="tablaFamilias" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se agregarán las filas de Familias dinámicamente desde el servidor -->
            
        </tbody>
    </table>
</div>

<!-- Modal para agregar Familias -->
<div class="modal fade" id="modalFamilias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Familias</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para agregar Familiaa -->
                <form id="FamiliaForm">
                    <div class="mb-3">
                        <label for="familiaInput" class="form-label">Nombre de la Familia:</label>
                        <input type="text" class="form-control" id="familiaInput" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardarFamilia()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar Familias -->
<div class="modal fade" id="modalEditarFamilias" tabindex="-1" role="dialog" aria-labelledby="modalEditarFamiliasLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Familias</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para edtar Familiaa -->
                <form id="FamiliaForm">
                    <div class="mb-3">
                        <label for="familiaInput" class="form-label">Nombre de la Familia:</label>
                        <input type="text" class="form-control" id="familiaInput" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="editarFamilia()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar familias -->
<div class="modal fade" id="modalEliminarFamilias" tabindex="-1" role="dialog" aria-labelledby="modalEliminarfamiliaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarFamiliaLabel">Eliminar Familia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Deseas eliminar esta familia?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" onclick="eliminarFamilia()">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- Agrega los enlaces a Bootstrap JS y Popper.js -->
<script src="./../js/jquery-1.11.0.min.js"></script>
<script src="./../js/bootstrap.bundle.min.js"></script>
<script src="./../js/jquery-migrate-1.2.1.min.js"></script>
<script src="./../js/funciones_js/familias.js"></script>
<script src="./../js/funciones_js/header.js"></script>
<script src="./../js/templatemo.js"></script>
<script src="./../js/custom.js"></script>




</body>
</html>