<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertir Imagen a Base64</title>
</head>
<body>
    <form>
        <label for="fileInput">Seleccionar imagen:</label>
        <input type="file" id="fileInput" accept="image/*">

        <div id="imageContainer">
            <!-- El área para mostrar la imagen seleccionada -->
        </div>
    </form>

    <script>
        
    </script>
</body>
</html>
