/*btn Uno*/

.btn-11{
    background: #03e534;
    color: #040404;
    border-radius: 50px;
    transition: transform 0.3s ease;
}



.btn-11:hover{
    transform: translate(-12px, -12px);
}

.btn-11:hover::after{
    transform: translate(6px, 6px);
}

.btn-11:hover::before{
    transform: translate(12px, 12px);
}

