/* Estilos generales para la aplicación */
.app-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos específicos para la sección del carrito de compras */
.cart-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.cart-container {
    width: 80%; /* Ajusta el ancho del contenedor según tus necesidades */
    max-width: 800px; /* Establece un ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.cart-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.item-info {
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
}

.details {
    flex-grow: 1;
}

.details h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.details p {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.quantity-section {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-total {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.checkout-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.checkout-btn:hover {
    background-color: #2980b9;
}

/* Agrega cualquier otro estilo adicional que necesites */

/* ... Otros estilos ... */
